.heading {
  background: #f4511e;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
body {
  margin-bottom: 100px;
}
.title {
  padding-left: 2vw;
  font-size: 6vh;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  width: fit-content;
  box-sizing: border-box;
}

.options {
  width: 65vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.options a {
  text-decoration: none;
  color: black;
}

.loginForm {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoutbtn
{
    color:white; 
    background-color: black;
}
.logoutbtn:hover{
    color: orange;
}



/**/
.optionsArea
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width:80vw;
}
.dateSelect
{
    display: flex;
    justify-content: space-around;
}

#loanapplications
{
    display: none;
}
#loanaccount
{
    display: none;
}